body {
  background-color: black;
}

button {
  min-width: 30vw;
  min-height: 21vh;
  border-color: black;
  text-align: center;
  border-style: ridge;
  border-color: black;
  outline: none;
}

.row {
  width: 100%;
}

.game-piece {

}
