body {
  background-color: black;
}

/* Board */

button {
  text-align: center;
  border-color: black;
  max-width: 30vw;
  min-width: 33vw;
  min-height: 18vh;
  max-height: 18vh;
}

button:hover {
  background-color: Gainsboro;
}

#message {
  color: white;
  text-align: right;
  font-size: 2em;
}

.game-piece {
  font-size: 2em;
}

/* Computer */

.score-comp {
  color: white;
}

.scoreboard {
  border-style: solid;
  border-color: white;
  width: 30vw;
  height: 11vh;
  text-align: left;
}

.computer-holder {
  width: 25vw;
  text-align: right;
}

.top-header {
  width: 100%;
  margin: 10px;
}

.fa-laptop {
  color: white;
  font-size: 70px;
}

h6 {
  color: white;
  font-size: 27px;
}

/* You */

.bottom-header {
  min-height: 15vh;
  text-align: left;
  width: 100%;
  padding: 25px;
}

.fa-user {
  color: white;
  font-size: 70px;
}

/* Media Queries */

@media only screen and (min-width: 760px) {
  button {
    min-width: 25vw;
  }
}

@media only screen and (min-width: 761px) {
  button {
    min-width: 33vw;
  }
}
